%section.slide
  %header.center
    Codeorganisierung
  %article.half
    %header
      Railsvorgaben
    %ul
      %li
        app/controllers
      %li
        app/helpers
      %li
        app/mailers
      %li
        app/models
      %li
        app/views
  %article.half
    %header
      Eigener Code?
    %ul
      %li
        lib
      %li
        vendor/plugins (Engines)
      %li
        where/ever (Autoload)
        
  %footer
  
