%section.slide
  %header.center
    PDF Generierung in Rails
  %article
    %header
      Codebasiertes Rendering:
    %ul
      %li        
        Prawn
      %li
        github.com/sandal/prawn
      %li        
        Schnelles Generieren
      %li
        Nicht flexibel
        
  %footer
  
