%section.slide
  %header.center
    PDF Generierung in Rails
  %article
    %header
      Templatebasiertes Rendering:
    %ul
      %li
        Apache Formatting Objects Processor (FOP)
      %li
        http://xmlgraphics.apache.org/fop/
      %li
        XML + XSL => FO => PDF
      %li
        FO => PDF
      %li
        Langsam
      %li
        Hohe Flexibilität
        
  %footer
  