%section.slide
  %header.center
    Person
  %article
    %ul
      %li
        Alexander Gräfenstein
      %li
        Bachelor Informatik - CAU Kiel
      %li
        empuxa GmbH
      %li
        Railsentwickler seit 2009
      %li
        Github: 
        %strong==giniedp
        (Dieses Demo ist online)
        
  %footer
  
