%section.slide
  %header.center
    Fancygrid (Rails Engine)
  %article
    %ul
      %li
        github.com/giniedp/fancygrid
      %li
        Beta
      %li
        jQuery auf Clientseite
      %li
        Rails3 + Haml Serverseite
        
  %footer
  
