%section.slide
  %header.center
    Fancygrid (Rails Engine)
  %article
    %header
      Input:
    %ul
      %li        
        Spaltendefinition + Find Options
    %header
      Output:
    %ul
      %li
        Html Tabelle
    %header
      Features
    %ul
      %li
        Automatische Paginierung
      %li
        Einfache/Komplexe Suche
      %li
        Zeitersparnis
        
  %footer
  
