%section.slide
  %header.center
    DevCon 2011 - Advanced Rails
  %article
    %header
      Themen
    %ul
      %li
        Quellcodeorganisierung
      %li
        Dynamische HTML-Tabellen (Fancygrid Rails Engine)
      %li
        PDF-Generierung (XSL, FO, Rails Renderer)
      
  %footer
  