$default_border-radius: 10px;

@import "_fancygrid.scss";

// Set round corners
@mixin round_corners {
  border-radius: $default_border-radius;
  -moz-border-radius: $default_border-radius;
  -webkit-border-radius: $default_border-radius;
}

@mixin gradient($c1, $c2, $backgroundColor){
  // non css3 browsers
  background: $backgroundColor;
  
  // webkit
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $c1), color-stop(1.0, $c2));
                
  // firefox 3.6
  background: -moz-linear-gradient(center top , $c1 0%, $c2 100%) repeat scroll 0 0 $backgroundColor;
  
  // Internet Explorer
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$c1}", endColorstr="#{$c2}");
}

body{
  width:960px;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p{
  margin:0 0 20px 0;
  li {
    line-height:20px;
  }
}

header#page_header{
  width:100%;
}

header#page_header, #page_footer{
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;  
    li {
      padding:0;
      margin: 0 20px 0 0;
      display:inline;
    }
  }
}

section#posts{
  float: left;
  width: 100%;
  aside {
    float: right;
    width: 35%;
    margin-left: 5%;
    font-size: 20px;
    line-height: 40px;
  }
}

footer#page_footer{
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
}

#js-flash{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  .message{
    padding: 5px;
  }
  .notice{
    background: #F0E68C;
    border: 1px solid yellow;
  }
  .error{
    background: #FFC0CB;
    border: 1px solid red;
  }
  .success{
    background: #90EE90;
    border: 1px solid green;
  }
}

section.slide{
  width : 600px;
  min-height: 400px;
  margin: 50px auto auto;
  padding: 20px;
  border: 1px solid;
  @include round_corners;
  font-size: 22px !important;
  line-height: 30px !important;
  
  .center{
    text-align: center;
  }
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
  
  header{
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
  }
  
  article{
    margin-top : 25px;
    width: 100%;
    &.half{
      width: 50%;
      float: left;
    }
    
    header{
      font-size: 30px;
      font-weight: bold;
      line-height: 35px;
    }
    
  }
  
  footer{
  
  }
  #slides_navigation{
    text-align:center;
  }
}