%h1
  Listing roles

- content_for :fancygrid_buttons do
  = link_to 'New Role', new_role_path
  
= fancygrid :roles do |column, record, value|
  - case column.name
  - when :actions
    = link_to "Edit", edit_role_path(record)
    |
    = link_to "Delete", role_path(record), :method => :delete, :confirm => "Delete?"


